/* Media Querys Personalizado */
@media only screen and (min-width: 238px) and (max-width: 315px) {
    .style-border-cart {
        max-width: 230px !important;
        height: auto !important;
    }

    .img-cart-size {
        max-width: 135px !important;
    }

    .w-carts {
        max-width: 145px !important;
    }

    .cart-responsive{
        flex-direction: column;
    }
}

@media only screen and (min-width: 314px) and (max-width: 359px){
    .style-border-cart {
        max-width: 250px !important;
        height: auto !important;
    }

    .img-cart-size {
        max-width: 230px !important;
    }

    .w-carts {
        max-width: 240px !important;
    }

    .cart-responsive{
        flex-direction: column;
    }
}

@media only screen and (min-width: 360px) and (max-width: 424px) {
    .style-border-cart {
        max-width: 250px !important;
        height: auto !important;
    }

    .img-cart-size {
        max-width: 230px !important;
    }

    .w-carts {
        max-width: 240px !important;
    }

    .cart-responsive{
        flex-direction: column;
    }
}

@media only screen and (min-width: 425px) and (max-width: 480px) {
    .style-border-cart {
        max-width: 250px !important;
        height: auto !important;
    }

    .img-cart-size {
        max-width: 230px !important;
    }

    .w-carts {
        max-width: 240px !important;
    }

    .cart-responsive{
        flex-direction: column;
    }
}

@media only screen and (min-width: 479px) and (max-width: 750px) {
    .style-border-cart {
        max-width: 250px !important;
        height: auto !important;
    }

    .img-cart-size {
        max-width: 230px !important;
    }

    .w-carts {
        max-width: 240px !important;
    }
    
    .cart-responsive{
        flex-direction: column;
    }
}

@media only screen and (min-width: 750px) and (max-width: 768px) {
    .style-border-cart {
        max-width: 355px;
        height: auto;
    }

    .w-carts {
        max-width: 320px;
    }

    .cart-responsive{
        flex-direction: column;
    }
}

@media only screen and (min-width: 769px) and (max-width: 990px){
    .style-border-cart {
        max-width: 550px !important;
        height: auto !important;
    }

    .img-cart-size {
        max-width: 100% !important;
        width: auto;
    }

    .cart-responsive{
        flex-direction: column;
    }
}