.nav-col{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.nav-responsive {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    position: fixed;
    background-color: #fff;
    width: auto;
    left: 0;
    height: auto;
    padding: 10px;
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
}

.nav-responsive-active {
    transform: translateX(0);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    opacity: 1;
    visibility: visible;
    position: fixed;
    height: auto;
    background-color: #fff;
    width: auto;
    left: 0;
    padding: 10px;
}
