.nav-col{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.nav-responsive{
    transition: ease-in-out .3s;
    position: fixed;
    background-color: #fff;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    padding: 10px;
    transform: translateX(-100000px);
}

.nav-responsive-active{
    position: fixed;
    width: 100%;
    transition: ease-in-out .3s;
    left: 0;
    top: 0;
    padding: 15px;
    height: 100%;
    transform: translateX(0);
    background-color: #fff;
}