html.dark{
    background-color: #212020;
    color: #ffffff;
}

html.dark header{
    background-color: #2f2f2f;
    color: #ffffff;
}

html.dark .nav-responsive-active{
    background-color: rgb(26, 25, 25);
    border: 2px solid rgb(151, 76, 151);
    color: #ffffff;
}

html.dark .style-button-light{
    background-color: #000000;
    color: #ffffff;
    padding: 5px;
    border-radius: 10px;
    transition: ease-in-out .2s;
}

html.dark .style-button-light:hover{
    background-color: #ffffff;
    color: #000000;
}

html .style-button-dark{
    background-color: rgb(232, 215, 184);
    color: #000000;
    padding: 5px;
    border-radius: 10px;
    transition: ease-in-out .2s;
}

html .style-button-dark:hover{
    background-color: #000000;
    color: #ffffff;
}

html.dark ::selection{
    background-color: rgb(255, 255, 255);
    color: #000000;
}

html.dark .dark-style{
    color: rgb(185, 179, 179);
}

html.dark .dark-style-des{
    color: #808080;
}

html.dark .hr-style-global{
    background-color: #808080;
}

/* Media Querys */
@media only screen and (min-width: 238px) and (max-width: 315px) {
    html .style-button-dark{
        background-color: rgb(232, 215, 184);
        color: #000000;
        padding: 5px;
        border-radius: 10px;
        transition: ease-in-out .2s;
    }
    
    html .style-button-dark:hover{
        background-color: rgb(232, 215, 184);
        color: #000000;
    }

    html.dark .style-button-light{
        background-color: #000000;
        color: #ffffff;
        padding: 5px;
        border-radius: 10px;
        transition: ease-in-out .2s;
    }
    
    html.dark .style-button-light:hover{
        background-color: #000000;
        color: #ffffff;
    }
}

@media only screen and (min-width: 314px) and (max-width: 359px){
    html .style-button-dark{
        background-color: rgb(232, 215, 184);
        color: #000000;
        padding: 5px;
        border-radius: 10px;
        transition: ease-in-out .2s;
    }
    
    html .style-button-dark:hover{
        background-color: rgb(232, 215, 184);
        color: #000000;
    }

    html.dark .style-button-light{
        background-color: #000000;
        color: #ffffff;
        padding: 5px;
        border-radius: 10px;
        transition: ease-in-out .2s;
    }
    
    html.dark .style-button-light:hover{
        background-color: #000000;
        color: #ffffff;
    }
}

@media only screen and (min-width: 360px) and (max-width: 424px){
    html .style-button-dark{
        background-color: rgb(232, 215, 184);
        color: #000000;
        padding: 5px;
        border-radius: 10px;
        transition: ease-in-out .2s;
    }
    
    html .style-button-dark:hover{
        background-color: rgb(232, 215, 184);
        color: #000000;
    }

    html.dark .style-button-light{
        background-color: #000000;
        color: #ffffff;
        padding: 5px;
        border-radius: 10px;
        transition: ease-in-out .2s;
    }
    
    html.dark .style-button-light:hover{
        background-color: #000000;
        color: #ffffff;
    }
}

@media only screen and (min-width: 425px) and (max-width: 480px){
    html .style-button-dark{
        background-color: rgb(232, 215, 184);
        color: #000000;
        padding: 5px;
        border-radius: 10px;
        transition: ease-in-out .2s;
    }
    
    html .style-button-dark:hover{
        background-color: rgb(232, 215, 184);
        color: #000000;
    }

    html.dark .style-button-light{
        background-color: #000000;
        color: #ffffff;
        padding: 5px;
        border-radius: 10px;
        transition: ease-in-out .2s;
    }
    
    html.dark .style-button-light:hover{
        background-color: #000000;
        color: #ffffff;
    }
}

@media only screen and (min-width: 479px) and (max-width: 750px){
    html .style-button-dark{
        background-color: rgb(232, 215, 184);
        color: #000000;
        padding: 5px;
        border-radius: 10px;
        transition: ease-in-out .2s;
    }
    
    html .style-button-dark:hover{
        background-color: rgb(232, 215, 184);
        color: #000000;
    }

    html.dark .style-button-light{
        background-color: #000000;
        color: #ffffff;
        padding: 5px;
        border-radius: 10px;
        transition: ease-in-out .2s;
    }
    
    html.dark .style-button-light:hover{
        background-color: #000000;
        color: #ffffff;
    }
}

@media only screen and (min-width: 750px) and (max-width: 768px){
    html .style-button-dark{
        background-color: rgb(232, 215, 184);
        color: #000000;
        padding: 5px;
        border-radius: 10px;
        transition: ease-in-out .2s;
    }
    
    html .style-button-dark:hover{
        background-color: rgb(232, 215, 184);
        color: #000000;
    }

    html.dark .style-button-light{
        background-color: #000000;
        color: #ffffff;
        padding: 5px;
        border-radius: 10px;
        transition: ease-in-out .2s;
    }
    
    html.dark .style-button-light:hover{
        background-color: #000000;
        color: #ffffff;
    }
}

@media only screen and (min-width: 769px) and (max-width: 990px){
    html .style-button-dark{
        background-color: rgb(232, 215, 184);
        color: #000000;
        padding: 5px;
        border-radius: 10px;
        transition: ease-in-out .2s;
    }
    
    html .style-button-dark:hover{
        background-color: rgb(232, 215, 184);
        color: #000000;
    }

    html.dark .style-button-light{
        background-color: #000000;
        color: #ffffff;
        padding: 5px;
        border-radius: 10px;
        transition: ease-in-out .2s;
    }
    
    html.dark .style-button-light:hover{
        background-color: #000000;
        color: #ffffff;
    }
}